<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../menu")%>
    <br><hr>    
    <h1>MEMBER INDEX</h1>
    <br><hr>
    <table>
    <tr>
        <% field.forEach((fd, i) => { %>
            <th style="border:1px solid;"><%= field[i]["name"] %></th>
        <% }) %>
    </tr>
    <% list.forEach((member, i) => { %>
        <tr>
            <% field.forEach((fd, j) => { %>
                <% if(field[j]["name"] == "name"){ %>
                    <td style="border:1px solid;">
                        <a href="/member/member_view/<%=member.id%>">
                            [패스방식]<%= member[field[j]["name"]] %>
                        </a>
                        &nbsp;
                        <a href="/member/member_view?id=<%=member.id%>">
                            [GET방식]<%= member[field[j]["name"]] %>
                        </a>
                    </td>
                <% }else{ %>
                    <td style="border:1px solid;"><%= member[field[j]["name"]] %></td>
                <% } %>
            <% }) %>
        </tr>
    <% }) %>
    </table>
    <br><hr>
    <a href="/member/register_form">데이터 추가</a>
</body>
</html>